@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/IndexStyle.css" rel="stylesheet" />
<div class="text-center">
    <h3>Purpose of application:</h3>
    <p>Event management is a process of organizing a professional and focused event, for a particular target audience. It involves visualizing concepts, planning, budgeting, organizing and executing events such as wedding, musical concerts, corporate seminars, exhibitions, birthday celebrations, theme parties, etc. Event Management is a multi-million dollar industry, growing rapidly, with events hosted regularly. The industry includes fields such as the MICE (Meetings, Incentives and Events), exhibitions, conferences and seminars as well as live music and sporting events. </p>
    <p>This is an Online Event Management System software project that serves the functionality of an event manager. The system allows the creation of new admin users or allows only registered admin users to log in. Admin Dashboard has functionality to create a new Venue which has properties like Event Place, Event Type i.e. (Marriage, Dance Show, etc), Guest Capability, Per Guest Cost, DJ Cost, Stage Cost, Mike Speaker Cost. It also provides CRUD functionalities like Creating new Venue Records, updating any Venue Record, and Deleting any existing Venue Record. All this data is logged in the database.</p>

</div>
