@model EventManagement.Models.Venue
    <link href="~/css/IndexStyle.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Venue Details</h1>
<h3 class="text-success">@ViewBag.Message</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event_Place" />
            <div class="form-group">
                <label for="Event_Place">Event Place</label>
                <input asp-for="Event_Place" class="form-control" readonly />
                <span asp-validation-for="Event_Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Event_Type">Event Type</label>
                <input asp-for="Event_Type" class="form-control" />
                <span asp-validation-for="Event_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Guest_Capability">Guest Capability</label>
                <input asp-for="Guest_Capability" class="form-control" />
                <span asp-validation-for="Guest_Capability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Per_Guest_Cost">Per Guest Cost</label>
                <input asp-for="Per_Guest_Cost" class="form-control" />
                <span asp-validation-for="Per_Guest_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
